IO_LOC "led_fast" 15;
IO_PORT "led_fast" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8;

IO_LOC "led_slow" 16;
IO_PORT "led_slow" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8;

IO_LOC "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;
